.btn {
    display: block;
    width: 100%;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 0.05em;
    //text-transform: uppercase;
    color: white;
    background: black;
    padding: 16px;
    margin: 3rem auto;
    border: 0;
    outline: none;
    cursor: pointer;
    font-family: 'Space Grotesk', sans-serif;
}